<div>
    <div>
        <section class="doctor-banner">
            <div class="overlay">
                <h1>Qualified Doctors</h1>
                <p class="breadcrumb">HOME &gt; DOCTORS</p>
            </div>
        </section>
    </div>
    <div class="container">
        <div class="doctor-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRVh1RB3HEWeWFf_nP-zfdgV_0BhkOwoGKo1vYjeeYgfPqI_awnaq3FOjC3NFHogFsfUU&usqp=CAU"
                alt="Dr. Lloyd Wilson">
            <h2>Dr. Lloyd Wilson</h2>
            <h4>NEUROLOGIST</h4>
            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
        </div>

        <div class="doctor-card">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/028/287/555/small/an-indian-young-female-doctor-isolated-on-green-ai-generated-photo.jpg"
                alt="Dr. Rachel Parker">
            <h2>Dr. Rachel Parker</h2>
            <h4>OPHTHALMOLOGIST</h4>
            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
        </div>

        <div class="doctor-card">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/026/375/249/small_2x/ai-generative-portrait-of-confident-male-doctor-in-white-coat-and-stethoscope-standing-with-arms-crossed-and-looking-at-camera-photo.jpg"
                alt="Dr. Ian Smith">
            <h2>Dr. Ian Smith</h2>
            <h4>DENTIST</h4>
            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
        </div>

        <div class="doctor-card">
            <img src="https://t4.ftcdn.net/jpg/06/47/16/29/360_F_647162966_SFu8GP6awkeW0OnFnAxPjiGXSoeme4ht.jpg"
                alt="Dr. Alicia Henderson">
            <h2>Dr. Alicia Henderson</h2>
            <h4>PEDIATRICIAN</h4>
            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
        </div>

        <div class="doctor-card">
            <img src="https://st4.depositphotos.com/1017986/21088/i/450/depositphotos_210888716-stock-photo-happy-doctor-with-clipboard-at.jpg"
                alt="Dr. Lloyd Wilson">
            <h2>Dr. Lloyd Wilson</h2>
            <h4>NEUROLOGIST</h4>
            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
        </div>

        <div class="doctor-card">
            <img src="https://media.istockphoto.com/id/1292012984/photo/portrait-female-doctor-stock-photo.jpg?s=612x612&w=0&k=20&c=u75XzgB3QWKj9EM3WQyhQQpgU9OhKaRe77a-LP7I1M8="
                alt="Dr. Rachel Parker">
            <h2>Dr. Rachel Parker</h2>
            <h4>OPHTHALMOLOGIST</h4>
            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
        </div>

        <div class="doctor-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_hDHBlOoVZfA5lVhVrNqGvJWR10sblSnpyP3lVKAAx4agJzbwcEU4w9biHtCekO2mDVA&usqp=CAU"
                alt="Dr. Alicia Henderson">
            <h2>Dr. Alicia Henderson</h2>
            <h4>PEDIATRICIAN</h4>
            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
        </div>
        <div class="doctor-card">
            <img src="https://t3.ftcdn.net/jpg/01/14/89/28/360_F_114892812_Va0KWhvmSUOoYNEoHCAOJ8uYXzBiD8vY.jpg"
                alt="Dr. Ian Smith">
            <h2>Dr. Ian Smith</h2>
            <h4>DENTIST</h4>
            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
        </div>
    </div>
</div>