
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f1f1f1;
  overflow: hidden; 
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100%;
   margin-left: 70px;
}

.login-box {
  display: flex;
  width: 90%;
  max-width: 1100px;
  height: 90vh; 
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.form-section {
  flex: 1;
  padding: 60px 40px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 30px;
}

form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.signin-btn {
  width: 100%;
  padding: 14px;
  background-color: #7a3cff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background 0.3s ease;
}

.signin-btn:hover {
  background-color: #5f2fd3;
}

.signup-link {
  text-align: center;
  font-size: 14px;
}

.signup-link a {
  color: #7a3cff;
  text-decoration: none;
  font-weight: bold;
}

.illustration-section {
  flex: 1;
  background: linear-gradient(135deg, #8f6fff, #c38bfc);
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration-section img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}




.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}
