<div>
  <h5>ADD NEW DOCTORS</h5>
  <div>
    <label>Doctor *</label><br>
    <input [(ngModel)]="doctor.name" placeholder="Enter name"><br><br>
    <label>Speciality *</label><br>
    <select [(ngModel)]="doctor.speciality">
      <option value="">Select</option>
      <option>General Checkup</option>
      <option value="Cardiology">Cardiology</option>
      <option value="Dermatology">Dermatology</option>
      <option value="Pediatrics">Pediatrics</option>
      <option value="Orthopedics">Orthopedics</option>
      <option value="Neurology">Neurology</option>
      <option value="Psychiatry">Psychiatry</option>
    </select><br><br>
    <button (click)="addDoctor()">{{ isEditMode ? 'Update' : 'Add' }}</button>
  </div>
</div>