.Main-background{
    background-image: url('https://watermark.lovepik.com/photo/50054/8069.jpg_wh1200.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: auto; 
    width: 100%; 
}