<div class="top-bar">
  <div class="logo"><span class="logo-bold">Dr.</span><span class="logo-blue">care</span></div>
  <div class="top-info">
    <div class="info-item">
      <div class="icon-circle">
        📍
      </div>
      <div>
        <div>Address: Kochi,</div>
        <div>Kerala, INDIA</div>
      </div>
    </div>
    <div class="info-item">
      <div class="icon-circle">
        📧
      </div>
      <div>
        Email: Dr.care&#64;gmail.com
      </div>
    </div>
    <div class="info-item">
      <div class="icon-circle">
        📞
      </div>
      <div>
        Phone: +1235 2355 98
      </div>
    </div>
  </div>
</div>
<div class="nav-bar">
  <input type="checkbox" id="menu-toggle">
  <label for="menu-toggle" class="menu-icon">&#9776;</label>

  <ul class="nav-links">
    <li><a href="">HOME</a></li>
    <li><a href="about">ABOUT</a></li>
    <li><a href="userdoctors">DOCTOR</a></li>
    <li><a href="department">DEPARTMENTS</a></li>
    <li><a href="contact">CONTACT</a></li>
  </ul>
  <div class="nav-buttons">
    <button class="appointment-btn" routerLink="/userappointment">Make An Appointment</button>
    <button [ngClass]="isLoggedIn ? 'logout-btn' : 'login-btn'" (click)="isLoggedIn ? logout() : login()">
      {{ isLoggedIn ? 'Logout' : 'Login' }}
    </button>
  </div>
</div>