.navbar {
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 50px;
  background-color: white;
  border-top: 1px solid #eee;
  border-bottom: 4px solid #2589ff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #00796b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.logo-bold {
  color: #000;
}

.logo-blue {
  color: #2589ff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000;
  transition: color 0.3s ease;
}

.nav-links li a:hover,
.nav-links li a.active {
  background-color: #008CBA;
  color: white;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    width: 100%;
    flex-direction: column;
    display: none;
    background-color: #008CBA;
    margin-top: 10px;
  }

  #menu-toggle:checked+.menu-icon+.nav-links {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    padding: 10px 0;
  }
}

.logo-img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.logout-btn {
  background-color: #e74c3c;
    color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.logout-btn:hover {
  background-color: #c42e1d;
}

.login-btn {
  background-color: #2589ff; 
  color: white;
  font-size: 16px;
  font-weight: bold;
   padding: 3px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: #1c6cd9;
}
