<div>
  <nav class="navbar">
    <div class="logo"> <span class="logo-icon"><img
          src="https://i.pinimg.com/736x/73/25/40/7325408749ea5d097eb19bc86ea03f64.jpg" alt="Logo" class="logo-img">
        <span class="logo-bold">Dr.</span><span class="logo-blue">care</span></span></div>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <ul class="nav-links">
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="appointment">Appointments</a></li>
      <li><a routerLink="doctor">Doctors</a></li>
      <li><a routerLink="patient">Patients</a></li>
      <li *ngIf="isLoggedIn">
        <button (click)="logout()" class="logout-btn">Logout</button>
      </li>
      <li *ngIf="!isLoggedIn">
        <button (click)="login()" class="login-btn">Login</button>
      </li>
    </ul>
  </nav>
</div>