.navbar-title {
  font-size: 28px;
  color: #00796b;
  margin-bottom: 30px;
  font-weight: bold;
}

.navbar-buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 40px;
}

.navbar-buttons button {
  background-color: #0097a7;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-buttons button:hover {
  background-color: #00796b;
  transform: scale(1.05);
}

button.active {
  background-color: #004d40;
}



.navbar-container {
  padding: 30px 20px;
  background: linear-gradient(to right, #e0f7fa, #ffffff);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #77c4bb;
  color: #008CBA;
  padding: 15px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #00796b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #00796b;
  padding: 15px 20px;
  border-radius: 4px;
  transition: background 0.3s;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-links li a:hover {
  background-color: #00796b;
  color: white;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Responsive styles */
#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    width: 100%;
    flex-direction: column;
    display: none;
    background-color: #008CBA;
    margin-top: 10px;
  }

  #menu-toggle:checked+.menu-icon+.nav-links {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    padding: 10px 0;
  }
}

.logo-img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}