
<div class="pagination-container">
  <h1 class="product-head">DOCTORS ({{ doctors.length }})</h1>
  <div class="pagination-button">
    <button [disabled]="pageNumber == 1" class="box" (click)="goToPreviousPage()">&lt;</button>

    <button *ngFor="let page of pageNumberArray" class="box" [ngClass]="{ 'selected': page === pageNumber }"
      (click)="setPageSelected(page)">
      {{ page }}
    </button>

    <button [disabled]="pageNumber === totalNoOfPage" class="box" (click)="showNextItems()">&gt;</button>
  </div>
</div>

<div *ngFor="let doctor of doctorsToDisplay" class="patient-card">
  <div class="patient-info">
    <strong>Name:</strong> {{ doctor.name }}<br>
    <strong>Speciality:</strong> {{ doctor.speciality }}<br>
  </div>
  <div class="patient-actions">
    <button class="delete-btn" (click)="deleteDoctor(doctor._id)">Delete</button>
    <button class="edit-btn" (click)="onEditClick(doctor)">Edit</button>
  </div>
</div>

